<div class="container mt-5">
	<div class="row">
		<div class="col-sm-4">
			<h3 class="text-color">eNno</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
			<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
		</div>
		<div class="col-sm-4">
			<h3>Latest Posts</h3>
			<p class="border-bottom">Lorem ipsum dolor </p>
			<p class="border-bottom">Ut enim ad minim  </p>
      	<p class="border-bottom">Ut enim </p>

		</div>
		<div class="col-sm-4">
			<h3>Stay in touch</h3>
			<p>anu@gmail.com</p>
			<p>+324 884578452</p>

		</div>
	</div>
</div>